<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AppIDName</key>
	<string>wikl</string>
	<key>ApplicationIdentifierPrefix</key>
	<array>
		<string>USM32L424X</string>
	</array>
	<key>CreationDate</key>
	<date>2017-04-16T15:09:04Z</date>
	<key>DeveloperCertificates</key>
	<array>
		<data>
		MIIFnzCCBIegAwIBAgIIM/bXIfXQueUwDQYJKoZIhvcNAQELBQAwgZYxCzAJ
		BgNVBAYTAlVTMRMwEQYDVQQKDApBcHBsZSBJbmMuMSwwKgYDVQQLDCNBcHBs
		ZSBXb3JsZHdpZGUgRGV2ZWxvcGVyIFJlbGF0aW9uczFEMEIGA1UEAww7QXBw
		bGUgV29ybGR3aWRlIERldmVsb3BlciBSZWxhdGlvbnMgQ2VydGlmaWNhdGlv
		biBBdXRob3JpdHkwHhcNMTcwNDE2MTQ1NjU5WhcNMTgwNDE2MTQ1NjU5WjCB
		kjEaMBgGCgmSJomT8ixkAQEMClVTTTMyTDQyNFgxOTA3BgNVBAMMMGlQaG9u
		ZSBEaXN0cmlidXRpb246IEFobWVkIEFsTmVhaW15IChVU00zMkw0MjRYKTET
		MBEGA1UECwwKVVNNMzJMNDI0WDEXMBUGA1UECgwOQWhtZWQgQWxOZWFpbXkx
		CzAJBgNVBAYTAlVTMIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEA
		1Xs6I7BqcMLbLZaR8IcPG2zASQP4z0ZWn/0PAQ1+Yq09ZQNxhlDauTKWsFgb
		QZKKdoD6ZX0Hbxu6jsRBUiQhPKmxBZEyUS90Olahc2DT79dA7Rd4JgAcfmk/
		3EuYv9W6G56cKXr+kUGfLGQ5NNlhjYGDiPW8qxOQv4cxIpKHkY9WmsK5K26q
		h1YU/triQBWcJjMMjyfaPoxMenFpzjB6uBQN72KXF2/NvqcEdRMh5As/vcMP
		hHnQXDvkqHjR42jwakl/S/uAI64/frxrpXIumQVZ10XTZru9Eg0yFsTaJ7jw
		YNrUyavx6AkP+vfx7ip46lyxTlSO7C7Y6FQGiVqDmwIDAQABo4IB8TCCAe0w
		PwYIKwYBBQUHAQEEMzAxMC8GCCsGAQUFBzABhiNodHRwOi8vb2NzcC5hcHBs
		ZS5jb20vb2NzcDAzLXd3ZHIxMTAdBgNVHQ4EFgQUOAa7xOgqcLMqYohOUpOe
		TbPHIaowDAYDVR0TAQH/BAIwADAfBgNVHSMEGDAWgBSIJxcJqbYYYIvs67r2
		R1nFUlSjtzCCAR0GA1UdIASCARQwggEQMIIBDAYJKoZIhvdjZAUBMIH+MIHD
		BggrBgEFBQcCAjCBtgyBs1JlbGlhbmNlIG9uIHRoaXMgY2VydGlmaWNhdGUg
		YnkgYW55IHBhcnR5IGFzc3VtZXMgYWNjZXB0YW5jZSBvZiB0aGUgdGhlbiBh
		cHBsaWNhYmxlIHN0YW5kYXJkIHRlcm1zIGFuZCBjb25kaXRpb25zIG9mIHVz
		ZSwgY2VydGlmaWNhdGUgcG9saWN5IGFuZCBjZXJ0aWZpY2F0aW9uIHByYWN0
		aWNlIHN0YXRlbWVudHMuMDYGCCsGAQUFBwIBFipodHRwOi8vd3d3LmFwcGxl
		LmNvbS9jZXJ0aWZpY2F0ZWF1dGhvcml0eS8wDgYDVR0PAQH/BAQDAgeAMBYG
		A1UdJQEB/wQMMAoGCCsGAQUFBwMDMBMGCiqGSIb3Y2QGAQQBAf8EAgUAMA0G
		CSqGSIb3DQEBCwUAA4IBAQC+RsPiXZ/IW/1zf+Fg3hNXdNMJ9RXoaQ7oK+0A
		mM731GBSPhPDZgtf7gGokRApiv65oS7v7gn8dudv7b8PW5o8Pkh+M6CFZKre
		2hPY0BqWhYUONL5Gbzr9i+JQiMOquGYGqORGkR0tkH/7f4lsumd/+pOqxRmN
		KMRyQlzQMnQxcZWaEX0Kgi5glpEnhW1zDBSK0pa8f2aBv7ETz2VBmz64EH6H
		BqSkpzf6f1Lz1jYopfLzUTsbA7uvdbVm6R3ZHeK90OTYL52Ajmwwl8GRfMWF
		vqATeMW4xZ1aYaQUEuIP3x7OP5hTgWUZjKg5bcY8f75Gs/YHgGDbOuPt8T6V
		0AAH
		</data>
	</array>
	<key>Entitlements</key>
	<dict>
		<key>application-identifier</key>
		<string>USM32L424X.*</string>
		<key>com.apple.developer.default-data-protection</key>
		<string>NSFileProtectionComplete</string>
		<key>com.apple.developer.team-identifier</key>
		<string>USM32L424X</string>
		<key>get-task-allow</key>
		<false/>
		<key>keychain-access-groups</key>
		<array>
			<string>USM32L424X.*</string>
		</array>
	</dict>
	<key>ExpirationDate</key>
	<date>2018-04-16T14:56:59Z</date>
	<key>Name</key>
	<string>ipa</string>
	<key>Platform</key>
	<array>
		<string>iOS</string>
	</array>
	<key>ProvisionedDevices</key>
	<array>
		<string>d7d14d98503fdefc8e310783cf9c9b3c294a489a</string>
		<string>d9a1c7ee7b6a2143afd10841fdce59d584efa3f3</string>
		<string>eba127e77c07c5d1e020956728d4b0877fe90678</string>
		<string>b4617da60baa2284f0c3a1c56efa911f30e17c6c</string>
		<string>1d4d89b50ab6261e9f3a79a2c7940519367cda43</string>
	</array>
	<key>TeamIdentifier</key>
	<array>
		<string>USM32L424X</string>
	</array>
	<key>TeamName</key>
	<string>Ahmed AlNeaimy</string>
	<key>TimeToLive</key>
	<integer>364</integer>
	<key>UUID</key>
	<string>186d6c5c-29a2-4c70-b562-a52d80e98d92</string>
	<key>Version</key>
	<integer>1</integer>
</dict>
</plist>
